.page-header{
    display:flex;
    flex-direction: column;
    background-color: #242424;
    color: #ffffff;
}

.page-header__logo{
    height: 85px;

   @media @tablet-widths{
    order:2;
    height: 400px;
   }
   @media @desktop-widths{
   height: 648px;
   }
}
