@font-face {
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/ptsansnarrow.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/ptsansnarrowbold.woff") format("woff");
}
body {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background-color: #242424;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}
.page-header {
  display: flex;
  flex-direction: column;
  background-color: #242424;
  color: #ffffff;
}
.page-header__logo {
  height: 85px;
}
@media (min-width: 768px) {
  .page-header__logo {
    order: 2;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    height: 648px;
  }
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__list a {
  color: #ffffff;
}
@media (min-width: 768px) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }
  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: 960px;
  }
}
@media (min-width: 768px) {
  .site-list {
    width: 570px;
  }
}
@media (min-width: 1200px) {
  .site-list {
    width: 780px;
  }
}
.stats {
  background-color: #242424;
  color: #ffffff;
}
@media (min-width: 768px) {
  .stats {
    padding: 0 64px;
  }
}
@media (min-width: 1200px) {
  .stats {
    margin: auto;
    max-width: 960px;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
.stats__header {
  background-color: #ffffff;
  color: #000000;
}
.stats__slogan {
  margin: 0;
}
.stats__intro {
  margin: 0;
}
.stats__legend {
  margin: 0;
}
@media (max-width: 767px) {
  .stats__legend--top {
    display: none ;
  }
}
@media (min-width: 768px) {
  .stats__legend--bottom {
    display: none;
  }
}
.stats__list {
  margin: 0;
}
@media (min-width: 768px) {
  .user-list {
    width: 60px;
  }
}
.page {
  height: 100%;
  font-size: 18px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  line-height: 27px;
}
.page__body {
  min-width: 100%;
  margin: 0;
  background-color: #f8f5f2;
  color: #000000;
}
